<%- include("header") -%>

<div class="box" id="heading">
  <h1> <%= listTitle %> </h1>
  <h2> <%= kindOfDay %> </h2>
</div>

<div class="box">
  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="Add Item" autocomplete="off">
    <button class="plusBtn" type="submit" name="list" value="<%=listTitle%>">+</button>
  </form>

  <% newListItems.forEach(function(item){ %>
  <form action="/delete" method="post">
    <div class="item">
      <input type="checkbox">
      <p class="listOfItems"><%= item.name %></p>
      <button class="deleteBtn" type="submit" name="checkbox" value="<%=item._id%>"><i class="far fa-trash-alt fa-sm"></i></button>
      <input type="hidden" name="listName" value="<%=listTitle%>">
    </div>
  </form>
  <% }) %>
</div>

<%- include("footer") -%>
