<%- include("header") -%>

<div class="box" id="heading">
  <h1> <%= listTitle %> </h1>
  <h2> <%= kindOfDay %> </h2>
</div>

<div class="box">
  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="할 일" autocomplete="off">
    <button type="submit" name="list" value="<%=listTitle%>">+</button>
  </form>

  <% newListItems.forEach(function(item){ %>
  <form action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
      <p><%= item.name %></p>
      <input type="hidden" name="listName" value="<%=listTitle%>">
    </div>
  </form>
  <% }) %>
</div>

<%- include("footer") -%>
